beautifulsoup4==4.6.0
certifi==2022.12.7
chardet==3.0.3
charset-normalizer==2.1.1
colorthief==0.2.1
cookies==2.2.1
distlib==0.3.6
filelock==3.8.0
idna==2.5
olefile==0.44
Pillow==9.2.0
platformdirs==2.5.2
pluggy==0.4.0
py==1.4.34
python-resize-image==1.1.19
requests==2.28.1
requests-toolbelt==0.8.0
responses==0.5.1
six==1.10.0
tox==2.7.0
urllib3==1.24.2
